:root {
    /* Colours */
    --desktop-background: #008080;
    --window-background: #ffffff;
    --window-text: #000000;
    --window-liner: #C0C0C0;
    --lighter-liner: #ffffff;
    --darker-liner: #707070;
    --window-shadow: #000000;
    --bar-active: #010082;
    --bar-inactive: #808080;
    --bar-text: #ffffff;

    /* Measures */
}

@font-face {
    font-family: Win95;
    src: url("media/fonts/W95FA.otf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Win95", monospace;
    background-color: var(--desktop-background);
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.js-disclaimer {
    background-color: #000000;
    color: royalblue;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-bottom-right-radius: 25px;
    padding: 10px;
    width: 350px;
}

.js-disclaimer a:active {
    color: mediumvioletred;
}

.js-disclaimer a:visited {
    color: mediumorchid;
}

/* CSS related to windows */
.moving-window {
    background-color: var(--window-liner);
    position: absolute;
    z-index: 9;
    overflow: visible;
    border: 3px outset var(--window-liner);
    box-shadow: 1px 1px var(--window-shadow);
}

.moving-window-header {
    background-color: var(--bar-active);
    color: var(--bar-text);
    border-bottom: 3px outset var(--lighter-liner);
    cursor: grab;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moving-window-header-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 4px 0 4px 4px;
}

.moving-window-header-title img {
    float: left;
    margin-right: 3px;
    width: 16px;
    height: 16px;
}

.moving-window-header-buttons {
    display: inline-block;
    line-height: 0;
    margin: 4px 4px 4px 0;
}

.close-button {
    background-color: var(--window-liner);
    border: 1px outset var(--lighter-liner);
    box-shadow: 1px 1px;
    padding: 0;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
}

.close-button img {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 3px;
}

.close-button-disabled {
    background-color: var(--window-liner);
    border: 1px outset var(--lighter-liner);
    box-shadow: 1px 1px;
    padding: 0;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
}

.close-button-disabled img {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 3px;
}

.moving-window-address {
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: var(--window-background);
    border-top: 1px solid var(--window-shadow);
    border-left: 1px solid var(--window-shadow);
    border-bottom: 3px outset var(--lighter-liner);
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-icon {
    float: left;
    margin-left: 2px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.moving-window-body {
    background-color: var(--window-background);
    overflow: auto;
    resize: both;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid var(--window-shadow);
    border-left: 1px solid var(--window-shadow);
    width: 500px;
    height: 400px;
    min-width: 100px;
    min-height: 50px;
}